html {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    color: $color-white;
    text-decoration: none;
}