.footer {
    padding: 40px 0;
    &-links {
        // margin-right: 100px;
    }
    a {
        color: $color-footer-links;
    }
    .wrap {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    ul > li {
        padding: 4px;
    }
}