.footer {
    padding: 40px 0;
    a {
        color: $color-footer-links;
        &:hover {
            color: $color-header-save;
        }
    }
    .wrap {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    ul > li {
        padding: 4px;
    }
}