.header {
    padding-top: 15px;
    background-image: url('/assets/img/1920x1080/01.jpg');
    background-size: cover;
    position: relative;

    &-top {
        &-save {
            width: 200px;
            padding-left:7px;
            padding-top: 2px;
            &--save {
                margin-left:15px;
                font-size: 14px;
                color: $color-header-save;
                font-size: 38px;
                float: left;
                line-height: 80px;
            }
        }

        &-links {
            font-weight: 600;
            font-size: 13px;
            float: right;
            margin: 25px 0;
            margin-right: 10px;
            color: $color-white;
            a {
                margin-left: 45px;
                text-transform: uppercase;
            }
        }
    }
    hr {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-color: $color-header-hr;
        position: absolute;
        margin-top: 80px;
    }
    &-content {
        padding-top: 410px;
        padding-bottom: 425px;
        color: $color-white;
        padding-left: 30px;
        h1 {
            font-size: 85px;
            font-weight: bold;
            padding-bottom: 0px;
            text-transform: uppercase;
        }
        p {
            margin-top: 25px;
            margin-bottom: 49px;
            width: 400px;
        }
        a {
            background-color: rgba(0,0,0,0);
            border-color: $color-white;
            border-style: outset;
            color: inherit;
            padding: 16px 40px;
            border: 1px solid;
            &:hover {
                background-color: $color-white;
                color: $color-section-1-h2;
                border: $color-white;
            }
        }
    }
}