.section-services {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $color-section-2-bkg;
    h2 {
        color: $color-section-1-h2;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    p {
        width: 50%;
        color: $color-header-save;
        margin-bottom: 50px;
    }
    &--services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--service {
            padding: 40px;
            padding-bottom: 40px;
            box-sizing: border-box;
            width: 33.2%;
            margin-bottom: 1px;
            background-color: $color-white;
            &:nth-child(2) {
                background-color: $color-section-2-blue;
            }
            &:hover {
                li {
                    display: none;
                }
                h3 {
                    padding-top: 30px;
                }
            }
            li {
                font-size: 30px;
                padding-bottom: 15px;
                color: $color-header-hr;
            }
            h3 {
                color: $color-section-1-h2;
                padding-bottom: 10px;
                font-weight: 600;
                font-size: 20px;
                text-transform: capitalize;
            }
            p {
                color: $color-header-save;
                margin: 0;
                width: 90%;
                
            }
        }
    }
}