$color-white: white;

$color-header-save: #81848F;
$color-header-hr: #666666;

$color-section-1-h2: #505669;
$color-section-1-p: #BDBAC0;

$color-section-2-bkg: #FAFAFA;
$color-section-2-blue: #3EBED2;
$color-section-3-span: #DAD5D6;
$color-section-3-span2: #8D8EA1